.bg .title {
    text-align: center;
    font-size: 18px;
    margin: 6% 0;
}

.bg .content{
    margin: 10% 0%;

}

.bg .content .senddata{
    margin: 0 6%;
}

.bg .content .sendtext {
    font-size: 16px;
    font-weight: 900;
}

.bg .content .senddata input {
    padding: 3% 5%;
    font-size: 12px;
    border: 1.6px solid #BE9BDD;
    border-radius: 10px;
    margin: 5% 0;
    width: 90%;
}
.bg .content .senddata button {
    border: none;
    outline: none;
    background: #84b85a;
    width: 20%;
    font-size: 14px;
    font-weight: 900;
    box-shadow: 0px 0px 8px rgb(83, 83, 83);
    padding: 2% 0;
}

.bg .content .getdata {
    margin: 14% 6%;
}

.bg .content .getdata input {
    padding: 3% 5%;
    font-size: 12px;
    border: 1.6px solid #BE9BDD;
    border-radius: 10px;
    margin: 5% 0;
    width: 90%;

}
.bg .content .getdata .btn {
    display: flex;
    justify-content: center;
}

.bg .content .getdata .btn button {
    border: none;
    outline: none;
    background: #84b85a;
    width: 40%;
    font-size: 14px;
    font-weight: 900;
    margin: 4% 0;
    box-shadow: 0px 0px 8px rgb(83, 83, 83);
    border-radius: 5px;
    padding: 3% 0;
}