.bg {
    margin: 15% 0%;
}
.bg .content {
    box-shadow: 0px 0px 4px rgb(207, 207, 207);
    margin: 10% 0;
    padding: 2% 0 ;
    word-break: break-all;
}
.bg .title {
    margin: 0 5%;
    font-size: 18px;
    word-break: break-all;
}
.bg .content .detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6%;
}

.bg .content .detail .level{
    width: 75%;
    font-size: 14px;
    margin: 3% 7%;
    padding-right: 3%;
    word-wrap: break-word;
}

.bg .content .detail .price {
    word-break: keep-all;
    text-align: center;
}

.bg .content .sumprice {
    font-weight: 900;
    font-size: 16px;
    margin: 10% 10%;
}

.bg .content span {
    float: right;
}

.bg_btn {
    display: flex;
    margin: 10% 0;
    justify-content: center;
}
.btn {
    width: 40%;
    padding: 3% 0%;
    font-size: 18px;
    font-weight: 900;
    background: #84b85a;
    box-shadow: 0px 0px 8px rgb(83, 83, 83);
    border: none;
    border-radius: 10px;
    color: black;
}
